<div class="flex col middle xl-gap xl-pad view">


	<h1>{{title}}</h1>

	<form class="flex col gap l-pad" action="/add" method="post">
		{{#if message.text}}
		<div class="pad {{message.type}} message">{{message.text}}</div>
		{{/if}}

		<label class="flex col middle" for="reg-number">
			<span>Registration Number</span>
			<input type="text" name="regNumber" id="regNumber">
		</label>

		<label class="flex col middle" for="reg-number">
			<span>Vehicle Description</span>
			<input type="text" name="description" id="description">
		</label>

		<button type="submit">Add Vehicle</button>
	</form>

	<table style="min-width: 80%;">
		<tr>
			<th>Registration</th>
			<th>Description</th>
		</tr>
		{{#if empty}}
		<tr>
			<td class="c-text" colspan="2">There are no vehicles in the database</td>
		</tr>
		{{else}}
		{{#each vehicles}}
		<tr>
			<td>{{reg_number}}</td>
			<td>{{description}}</td>
		</tr>
		{{/each}}
		{{/if}}
	</table>

	<a class="message" style="display: block; margin: 0;" href="/">View Consumption</a>

</div>